@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<form action="/search.aspx" method="get" class="header-search">
	<div class="input-box">
    	<input name="s" required type="text" class="header-input">
        <button class="header-btn-search" value=""><i class="fa fa-search"></i></button>
    </div>
</form>