@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
	
	<!-- homepage badges -->
		<div class="row">
          <div class="span3">
            <div class="services-box">
              <div class="services-round"><a href="/themes/anthropogenic/" class="sprite-1"><i class="fa fa-recycle"></i></a></div>
              <h3>Anthropogenic Impact And Environmental Sustainability</h3>
              <!--<strong class="title-text">Sed suscipit dapibus</strong>-->
              <!--<p>Rapidiously productize proactive leadership skills via unique users. Interactively iterate </p>-->
              <a href="/themes/anthropogenic/" class="readmore">Read More<i class="fa fa-arrow-right"></i></a>
				</div>
          </div>
          <div class="span3">
            <div class="services-box">
              <div class="services-round"><a href="/themes/dynamic-earth/" class="sprite-2"><i class="fa fa-bolt"></i></a></div>
			  <h3>Dynamic Earth </h3>
              <a href="/themes/dynamic-earth/" class="readmore">Read More<i class="fa fa-arrow-right"></i></a> 
			</div>
          </div>
          <div class="span3">
            <div class="services-box">
              <div class="services-round"><a href="/themes/evolution/" class="sprite-3"><i class="fa fa-cog"></i></a></div>
              <h3>Evolution Of Organisms And Ecosystems</h3>
				  <a href="/themes/evolution/" class="readmore">Read More<i class="fa fa-arrow-right"></i></a>
               </div>
          </div>
          <div class="span3">
            <div class="services-box">
              <div class="services-round"><a href="/themes/organisms/" class="sprite-4"><i class="fa fa-lightbulb-o"></i></a></div>
              <h3>Organisms, ’Omics And Biogeochemistry</h3>
				  <a href="/themes/organisms/" class="readmore">Read More<i class="fa fa-arrow-right"></i></a>
               </div>
          </div>
        </div>

