@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
	
	<!--Banner Start-->
    <div id="banner">
      <ul id="home-banner">
        <li> <img src="/media/1109/banner-1.jpg" alt="img"/>
          <div class="caption">
            <div class="holder">
              <h1>Banner headline goes here</h1>
              <strong class="title">More text goes here</strong> </div>
          </div>
        </li>
        <li> <img src="/media/1108/banner-2.jpg" alt="img"/>
          <div class="caption">
            <div class="holder">
              <h1>Banner headline goes here</h1>
              <strong class="title">More text goes here</strong> </div>
          </div>
        </li>
		<li> <img src="/media/1111/banner-3.jpg" alt="img"/>
          <div class="caption">
            <div class="holder">
              <h1>Banner headline goes here</h1>
              <strong class="title">More text goes here</strong> </div>
          </div>
        </li>
		<li> <img src="/media/1110/banner-4.jpg" alt="img"/>
          <div class="caption">
            <div class="holder">
              <h1>One good ‘tern’ deserves another</h1>
              <strong class="title">Social and genetic networks in a huge seabird colony</strong> </div>
          </div>
        </li>
      </ul>
      <div id="bx-pager"> <a data-slide-index="0" href="" class="rollIn animated"><img src="/media/1123/banner-thumb-1.jpg" alt="img" /></a> <a data-slide-index="1" href="" class="rollIn animated"><img src="/media/1122/banner-thumb-2.jpg" alt="img" /></a><a data-slide-index="2" href="" class="rollIn animated"><img src="/media/1124/banner-thumb-3.jpg" alt="img" /></a><a data-slide-index="3" href="" class="rollIn animated"><img src="/media/1126/banner-thumb-4.jpg" alt="img" /></a> </div>
    </div>
    <!--Banner End-->
