@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
	
	<ul class="footer-social">
	<!--<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>-->
    <li><a href="https://twitter.com/CENTA_NERC"><i class="fa fa-twitter-square"></i></a></li>
    <!--<li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>-->
</ul>
<strong class="copy">COPYRIGHT &copy; CENTA 2015  </strong>
