@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

	<div class="row-fluid">
	<div class="span8">
		<address class="contact-box">
            <strong class="title">CENTA DTP</strong>
            <p>CENTA is a consortium of Universities and research institutes that are working together to provide excellence in doctoral research training. Funded by The Natural Environment Research Council. </p>
               </address>

    </div>
	<div class="span4">
		<img style="margin-top:30px;float:right;" src="/media/1269/nerc-logo.gif" alt="NERC logo" title="">
	
	</div>
	</div>